<nav class="pixel-nav">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/latest-news/">Latest News</a></li>
    <li><a href="/game-blogs/">Game Blogs</a></li>
    <li><a href="/crafts-arts/">Crafts &amp; Arts</a></li>
    <li><a href="/tales/">Tales & Stories</a></li>
    <li><a href="/about/">About</a></li>
    <li><a href="/subscribe/">Subscribe</a></li>
  </ul>
</nav>
