---
layout: base.njk
title: About The Cozy Tales
permalink: /about/
---

<h1>About The Cozy Tales</h1>
<ul class="post-list">
  {% for postItem in posts %}
    {% set url     = postItem.url %}
    {% set title   = postItem.data.title %}
    {% set excerpt = postItem.data.excerpt %}
    {% set date    = postItem.data.date %}
    {% set headerImage = postItem.data.headerImage %}
    {% include "post-card.njk" %}
  {% else %}
    <li>No news posts yet.</li>
  {% endfor %}
</ul>
