---
layout: base.njk
title: Book Blogs
permalink: /book-blogs/
pagination:
  data: collections.bookBlogs
  size: 10
  alias: posts
---

<h1>Book Blogs</h1>

<ul class="post-list">
  {% for postItem in posts %}
    {% set url     = postItem.url %}
    {% set title   = postItem.data.title %}
    {% set excerpt = postItem.data.excerpt %}
    {% set date    = postItem.data.date %}
    {% set headerImage = postItem.data.headerImage %}
    {% include "post-card.njk" %}
  {% else %}
    <li>No book blog posts yet.</li>
  {% endfor %}
</ul>
