---
layout: base.njk
title: Contact
class: "cozy-page"
---

<section class="cozy-page-wrapper">
  <h2>Contact Us</h2>
  <p>We’d love to hear from you! Whether you want to share feedback, collaborate, or just say hi, feel free to reach out.</p>

  <h3>Email</h3>
  <p> <a href="mailto:contactthecozytales@gmail.com">contactthecozytales@gmail.com</a></p>


  <h3>Business Inquiries</h3>
  <p>For collaborations, press, or partnership opportunities, please email us with the subject line <strong>"Business"</strong>.</p>
</section>
